body, html {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(135deg, #fcddff, #ecfdff, #fff1e1, #ffc9c965);
  background-size: 300% 300%;
  animation: gradientMovement 40s ease infinite;
}

.container {
  padding: 200px 0;
  text-align: center;
  position: relative;
}

.input {
  border: 0;
  padding: 100px;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  font: 24px sans-serif;
  resize: none;
  width: 50%;
  transition: opacity 0.5s ease-in-out;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.button {
  background-color: #303030;
  border: none;
  color: white;
  padding: 10px 24px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 20px auto;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.messageoutput {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.messageoutput.visible {
  display: block;
  opacity: 1;
}

/* Gradient background */

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: backgroundMovement 40s linear infinite;
}

@keyframes backgroundMovement {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes gradientMovement {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
